.fs {
    &-12 {
        font-size: 12px !important;
    }
    &-14 {
        font-size: 14px !important;
    }
}

.text {
    &-heading {
        color: $heading !important;
    }
}

.cursor {
    &-pointer {
        cursor: pointer !important;
    }
}