.fs {
    &-12 {
        font-size: 12px !important;
    }
    &-14 {
        font-size: 14px !important;
    }
}

.text {
    &-heading {
        color: $heading !important;
    }
    &-body {
        color: $text !important;
    }
    &-underline {
        text-decoration: underline !important;
    }
}

.cursor {
    &-pointer {
        cursor: pointer !important;
    }
}

.bg {
    &-opacity {
        &-20 {
            --bs-bg-opacity: .20;
        }
    }
}

.grid-count {
    &-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}