.marketplace {
    &-header {
        p {
            color: $heading2;
        }
        .input-item {
            border-radius: 8px;
            background: $bgGray !important;
            input {
                border-radius: 8px;
                background: #F8F8F8 !important;
                color: #8E8F95;
            }
            span {
                left: 5px;
                top: 10px;
            }
            .filter {
                right: 5px;
                top: 10px;
                border-radius: 8px;
                background: #FF823C;
                padding: 8px;
                --width: 30px;
                height: var(--width);
                height: var(--width);
                flex: 0 0 auto;
                margin-top: 0;
            }
        }
    }
    &-items {
        &-cards {
            &-card {
                padding: 16px;
                border-radius: 12px;
                background: $white;
                box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
                height: 100%;
                width: 100%;
                .title {
                    color: $heading2;
                }
                .des {
                    color: $text;
                    width: 70%;
                    @include lg {
                        width: 100%;
                    }
                    @include mmd {
                        width: 100%;
                    }
                    span {
                        color: $secondary;
                        font-weight: 600;
                    }
                }
                .card-history {
                    .month {
                        color: $heading2;
                        border-radius: 8px;
                        background: rgba(77, 213, 184, 0.20);
                        padding: 2px 8px;
                    }
                    .live {
                        color: #FFBA00;
                        border-radius: 8px;
                        background: rgba(255, 200, 51, 0.10);
                        padding: 2px 8px;
                    }
                }
                .all-valur-history {
                    .total-value {
                        border-radius: 8px;
                        background: $bgGray;
                        .image-area {
                            border-radius: 8px;
                            background: $white;
                            padding: 11px;
                            img {
                                --width: 21px;
                                width: var(--width);
                                height: var(--width);
                                flex: 0 0 auto;
                            }
                        }
                        .values {
                            .price {
                                color: $heading2;
                            }
                            p {
                                color: $text;
                            }
                        }
                    }
                }
                .btns {
                    gap: 10px;
                    .btn {
                        border-radius: 8px;
                        background: #4DD5B8;
                        color: $heading2;
                        padding: 12px 0;
                        width: 95%;
                        &:hover {
                            // opacity: .7;
                            color: $white;
                        }
                    }
                    .wish {
                        border-radius: 8px;
                        border: 1px solid #EAEAEA;
                        background: $white;
                        padding: 10px;
                        &:hover {
                            svg {
                                color: $black;
                            }
                        }
                        svg {
                            --width: 18px;
                            height: var(--width);
                            width: var(--width);
                            flex: 0 0 auto;
                            color: #FF823C;
                        }
                    }
                }
            }
        }
    }
    &-pagination {
        //     .value {
        //         border-radius: 8px;
        //         border: 1px solid #EAEAEA;
        //         background: $white;
        //         padding: 10px;
        //         cursor: pointer;
        //         svg {
        //             --width: 16px;
        //             height: var(--width);
        //             width: var(--width);
        //         }
        //     }
        //     .value-item {
        //         border-radius: 8px;
        //         border: 1px solid #EAEAEA;
        //         background: $white;
        //         padding: 10px 12px;
        //         cursor: pointer;
        //         span {
        //             color: #8E8F95;
        //             font-size: 16px;
        //             font-weight: 600;
        //             line-height: normal;
        //         }
        //     }
        //     .value-bg {
        //         background-color: #4DD5B8;
        //         span {
        //             color: $white;
        //         }
        //     }
        // }
        .pagination {
            --bs-pagination-color: red !important;
            --bs-pagination-color: red !important;
        }
        ul.pagination {
            gap: 5px;
        }
        li.page-item {
            padding: 5px;
            border-radius: 8px;
            border: 1px solid #EAEAEA;
            background: $white;
            // background-color: #4DD5B8;
        }
        .page-link {
            border: 0;
            color: #8E8F95;
            font-size: 14px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            background-color: transparent;
        }
    }
}