.strategies {
    &-btn {
        gap: 24px;
        & .view-btn {
            gap: 4px;
            margin-right: 4px;
            & button {
                --size: 36px;
                width: var(--size);
                height: var(--size);
                border-radius: 8px;
                border: 1px solid $border;
                display: flex;
                align-items: center;
                justify-content: center;
                @include transition;
                padding: 0;
                background: transparent;
                & svg {
                    color: #727277;
                }
                &:hover {
                    background-color: $secondary;
                    & svg {
                        color: $white;
                    }
                }
            }
        }
        & .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            --bs-btn-padding-y: 10px;
            & svg {
                @include transition;
            }
        }
        & #primaryIcon {
            & svg {
                color: $primary;
            }
            &:hover {
                & svg {
                    color: $black !important;
                }
            }
        }
    }
    & .profile-profit-card {
        max-width: 358px;
        & p {
            margin-bottom: 12px;
        }
        & .read {
            color: $secondary;
        }
        & .create {
            gap: 8px;
            margin-bottom: 16px;
            & span {
                @include font-12;
                font-weight: 500;
                border-radius: 8px;
                padding: 2px 8px;
                &:first-child {
                    background: rgba(77, 213, 184, 0.20);
                    color: $heading2;
                }
                &:nth-child(2) {
                    color: #FFBA00;
                    background: rgba(255, 200, 51, 0.10);
                }
            }
        }
    }
    & #title {
        margin-bottom: 16px;
    }
    & .grid-view {
        &>div {
            &:not(:last-child) {
                padding-bottom: 24px;
                margin-bottom: 24px;
                border-bottom: 1px solid $border;
            }
        }
    }
}