.subscribe {
    background-color: $white;
    border-radius: 16px;
    padding: 24px;
    &-heading {
        span {
            width: 40px;
            height: 40px;
            border-radius: 37px;
            background: $bgGray;
            padding: 11px;
        }
        p {
            color: $heading2;
            @include font-18;
            font-weight: 600;
        }
    }
    &-items {
        &-card {
            border-radius: 12px;
            background: $white;
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
            .popular {
                border-radius: 8px;
                background: #FFC833;
                color: $heading2;
                padding: 4px 8px;
                width: 65px;
            }
            .card-body {
                padding: 12px;
                border-radius: 8px;
                background: $bgGray;
                .title {
                    color: $heading2;
                }
                .des {
                    color: #8E8F95;
                    width: 80%;
                    @include lg {
                        width: 100%;
                    }
                    @include mmd {
                        width: 100%;
                    }
                }
                .price {
                    color: #8E8F95;
                    span {
                        font-size: 24px;
                        color: $heading2;
                    }
                }
                .li {
                    color: #8E8F95;
                }
            }
            .btn {
                padding: 10px 0 !important;
                border-radius: 8px !important;
                border: 1px solid $border !important;
            }
        }
    }
}