@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
// 
$font-1: "Outfit",
sans-serif;
$white:#fff;
$black:#000;
$primary: #4DD5B8;
$secondary: #050505;
$text:#727277;
$heading: #161A23;
$border:#4B4B4B;
$bg:$white;
:root {
    scroll-behavior: auto !important;
}